.cart {
  display: flex;
  justify-content: space-between;
  padding: 2em;
  padding-bottom: 1em;
  width: 100%;
  background: linear-gradient(
    rgb(184, 184, 184),
    rgb(129, 129, 129),
    rgb(105, 105, 105),
    rgb(85, 85, 85)
  );
}
p {
  font-size: xx-large;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em blueviolet, 0 0 0.2em blueviolet;
}
li {
  font-size: large;
}
.btn {
  height: fit-content;
}
