#navicon {
  width: 6em;
}
.nav-link {
  text-shadow: 1px 1px 2px black, 0 0 1em blueviolet, 0 0 0.2em blueviolet;
}
.bg-dark {
  background: linear-gradient(
    rgb(85, 85, 85),
    rgb(105, 105, 105),
    rgb(129, 129, 129),
    rgb(184, 184, 184)
  ) !important;
}
