.product {
  width: fit-content;

  padding: 1em;
  border: 0.4em;
  border-style: groove;
  border-radius: 15px;
  margin: 0.2em;
  background-color: rgb(184, 184, 184);
}
.product h2,
h3,
p {
  font-size: 1.5em;
  margin: 0.2em;
}
.product img {
  height: 10em;
  width: 10em;
  margin: 0px;
}
ul {
  display: flex;
  list-style: none;
}
